<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Password_Cs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Password_Cs.Properties.Settings>
            <setting name="check_Uppercase" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="check_Lowercase" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="check_Number" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="check_Special" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="StyleTab" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="style_Uppercase" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="style_Lowercase" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="style_Number" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="style_Special" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="StyleCombo1" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="StyleCombo2" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ThemeTab" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Combo1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Combo2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrackBarVal" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TrackBarTheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="MetroLink1Theme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="MetroLink2Theme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="LabelVal" serializeAs="String">
                <value>0</value>
            </setting>
        </Password_Cs.Properties.Settings>
    </userSettings>
</configuration>